body {
  background-image: url("/public/images/gameBG.png");
  color: #ffe81f;
  background-repeat: inherit;
}

.container {
  text-align: center;
}

.mainHeader {
  font-size: 120px;
}

.subHeader {
  font-size: 50px;
}
